#case-switch-box{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: 4px;
    top: 45%;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #787878 transparent transparent transparent;
    pointer-events: none;
  }
}
.list{
  --case:block;
  --news:block;
  &:has(#case-switch [value="新聞"]:checked){
    --case:none;
    --news:block;
  }
  &:has(#case-switch [value="案例"]:checked){
    --case:block;
    --news:none;
  }
  .list-item[data-case]{
    display: var(--case);
  }
  .list-item:not([data-case]){
    display: var(--news);
  }
}