:root{
  --red:#DA291C;
  --trouble-position:120px;
}
.color-red{
  color:var(--red)
}
.check-list,
.triangle-list{
  list-style-type: none;
  &>li::before{
    content: "\2713";
    position: absolute;
    left: 0;
    color: var(--red);
  }
  &>li{
    padding-left:24px;
    position: relative;
  }
}
.triangle-list li::before{
  content: "\25B6";
  transform: scale(.8);
  transform-origin: left center;
}
.dash-list{
  list-style-type: none;
  &>li::before{
    content: "-";
    position: absolute;
    left: 0;
  }
  &>li{
    padding-left:20px;
    position: relative;
  }
}
.btn-red{
  background-color: var(--red);
  color: #fff;
}
hr,.hr::after{
  background-color: var(--red);
}
.gulide{
  border:1px solid #A1A1A1;
  border-top:10px solid var(--red);
}
#trouble{
  position: relative;
  top:calc(-1 * var(--trouble-position));
  color:#fff;
  background-color: #0E284D;
  border-radius: 1rem;
  padding:2rem;
  padding-bottom: var(--trouble-position);
}
@media (min-width: 1320px){
  section .container {
    width: 1320px;
    max-width: 1280px;
  }
}