.swiper-slide {
  background-color: #323232;
  min-height: 3rem
}
.card {
  margin-bottom: 1rem
}
.card:hover {
  border-color: #d5562b
}
.card:hover .ratio-box>img {
  transform: scale(1.25);
  transform-origin: center;
  transition: all .4s
}
.card .ratio-box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}
.card h3 {
  font-size: 1.125rem;
  margin: 0;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  background-color: #d5562b;
  display: inline-block;
  width: 10rem;
  white-space: nowrap;
  font-weight: bold;
  line-height: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  border: 1px solid rgba(0,0,0,0.06);
  position: relative;
  z-index: 3
}
.card h4 {
  font-size: 1rem
}
.card .card-body {
  height: 13.5rem;
  overflow: hidden;
  position: relative
}
.card .card-body .grad {
  position: absolute;
  background: linear-gradient(to top, #FFF 0%, #FFF 20%, rgba(255,255,255,0) 100%);
  height: 1.5rem;
  width: calc(100% - 2px);
  bottom: 0;
  right: 1px;
  box-sizing: border-box;
  pointer-events: none
}
.swiper-success-case {
  max-width: 90rem
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d5562b'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d5562b'%2F%3E%3C%2Fsvg%3E")
}
@media (min-width: 1440px) {
  .swiper-slide {
      min-height:400px
  }
}
.swiper-banner{
  & .banner-btn{
    width: 100%;
    max-width: 1440px;
    bottom: 52px;
    left:0;
  }
}
@media (min-width: 840px) {
  .swiper-banner .banner-btn {
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left!important;
    padding-left: min(max(7vw, 16px), 104px);
  }
}