<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <caching>
      <profiles>
        <remove extension=".php" />
        <add extension=".php" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:05" />
      </profiles>
    </caching>
    <security>
      <ipSecurity allowUnlisted="true">
        <clear/>
        <add ipAddress="103.37.3.162"/>
        <add ipAddress="154.213.201.214"/>
        <add ipAddress="147.255.100.34"/>
        <add ipAddress="104.24.105.214"/>
        <add ipAddress="104.27.159.160"/>
        <add ipAddress="104.21.62.63"/>
        <add ipAddress="104.21.44.16"/>
        <add ipAddress="104.21.74.49"/>
        <add ipAddress="104.21.92.91"/>
        <add ipAddress="104.21.80.140"/>
        <add ipAddress="172.67.187.139"/>
        <add ipAddress="172.67.158.17"/>
      </ipSecurity>
    </security>
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="cn" stopProcessing="true">
            <match url="^cn/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/" />
          </rule>
          <rule name="mobile_app" stopProcessing="true">
            <match url="^product/mobile_app/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/products/modules/ehr-mobile" />
          </rule>
          <rule name="usp" stopProcessing="true">
            <match url="^product/usp/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/products/modules/usp" />
          </rule>
          <rule name="contact" stopProcessing="true">
            <match url="^about/consult/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/contact/" />
          </rule>
          <rule name="knowledge" stopProcessing="true">
            <match url="^knowledge/" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/news/knowledge/" />
          </rule>
          <rule name="knowledges" stopProcessing="true">
            <match url="^news/knowledges/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/news/knowledge/" />
          </rule>
          <rule name="module" stopProcessing="true">
            <match url="^product/module/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/products/modules/{R:1}" />
          </rule>
          <rule name="how" stopProcessing="true">
            <match url="^choose-hcp/how-hr/(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/know-hr/how-choose/" />
          </rule>
        </rules>
      </rewrite>
      <httpErrors errorMode="Custom" defaultResponseMode="File">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="img">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="lib">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>
