<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="home_en.asp" stopProcessing="true">
                    <match url="^home_en.asp" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="en/" />
                </rule>
                <rule name="Imported Rule 1">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_REFERER}" pattern="^http://.*mo-wen\.com" />
                        <add input="{HTTP_REFERER}" pattern="^http://.*\.mybnb\.tw" />
                        <add input="{HTTP_REFERER}" pattern="^http://.*daily-gag\.com" />
                        <add input="{HTTP_REFERER}" pattern="^http://.*soft\.dd3m\.com" />
                        <add input="{HTTP_REFERER}" pattern="^http://.*nfcmag\.net" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <remove extension=".css" />
                <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
                <remove extension=".js" />
                <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
                <remove extension=".png" />
                <add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
                <remove extension=".php" />
                <add extension=".php" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:05" />
            </profiles>
        </caching>
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
