<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
    <security>
      <ipSecurity allowUnlisted="true">
        <clear/>
        <add ipAddress="103.37.3.162"/>
        <add ipAddress="154.213.201.214"/>
        <add ipAddress="147.255.100.34"/>
        <add ipAddress="104.24.105.214"/>
        <add ipAddress="104.27.159.160"/>
        <add ipAddress="104.21.62.63"/>
        <add ipAddress="104.21.44.16"/>
        <add ipAddress="104.21.74.49"/>
        <add ipAddress="104.21.92.91"/>
        <add ipAddress="104.21.80.140"/>
        <add ipAddress="172.67.187.139"/>
        <add ipAddress="172.67.158.17"/>
      </ipSecurity>
    </security>

  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="events_year" stopProcessing="true">
            <match url="^events/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="events/index.php?y{R:1}" />
          </rule>
          <rule name="amp_events_year" stopProcessing="true">
            <match url="^amp/events/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="amp/events/index.php?y{R:1}" />
          </rule>
          <rule name="events_news" stopProcessing="true">
            <match url="^events/([0-9a-zA-z-]+)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="events/index.php?{R:1}" />
          </rule>
          <rule name="amp_events_news" stopProcessing="true">
            <match url="^amp/events/([0-9a-zA-z-]+)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="amp/events/index.php?{R:1}" />
          </rule>
          <rule name="amp_epaper" stopProcessing="true">
            <match url="^amp/epaper/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="amp/epaper/index.php?y{R:1}" />
          </rule>
          <rule name="bestpractice_year" stopProcessing="true">
            <match url="^best-practices/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" url="best-practices/" />
          </rule>
          <rule name="amp_bestpractice_year" stopProcessing="true">
            <match url="^amp/best-practices/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" url="amp/best-practices/" />
          </rule>
          <rule name="epaper_year" stopProcessing="true">
            <match url="^epaper/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="epaper/index.php?y{R:1}" />
          </rule>
          <rule name="investor_events_year" stopProcessing="true">
            <match url="^investor-events/y([1-2][0-9][0-9][0-9])$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="investor-events/index.php?y{R:1}" />
          </rule>
          <rule name="investor_events_redirect" stopProcessing="true">
            <match url="^investor/events/([0-9]+)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="investor-events/{R:1}" />
          </rule>
          <rule name="investor_events_id" stopProcessing="true">
            <match url="^investor-events/([0-9]+)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="investor-events/index.php?{R:1}" />
          </rule>
          <!-- <rule name="fix" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://www.ares.com.tw/fix{R:1}" />
          </rule> -->
          <rule name="m" stopProcessing="true">
            <match url="^(m\/)+(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="{R:2}" />
          </rule>
          <rule name="aresoa" stopProcessing="true">
            <match url="^aresoa(.*)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="http://web.ares.com.tw/aresoa{R:1}" />
          </rule>
          <rule name="aboutAres" stopProcessing="true">
            <match url="^about-ares(\/(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="profile" />
          </rule>
          <rule name="about" stopProcessing="true">
            <match url="^about(\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="profile" />
          </rule>
          <rule name="download" stopProcessing="true">
            <match url="^download\/?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://edm.ares.com.tw/dm/ares%20profile/" />
          </rule>
          <rule name="esg" stopProcessing="true">
            <match url="^csr\/?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="esg" />
          </rule>
          <rule name="contribution" stopProcessing="true">
            <match url="^csr\/social-contribution\.php" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="esg/social-contribution.php" />
          </rule>
          <rule name="home" stopProcessing="true">
            <match url="^home(\/(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/" />
          </rule>
          <rule name="defaultasp" stopProcessing="true">
            <match url="^default" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/" />
          </rule>
          <rule name="culture" stopProcessing="true">
            <match url="^culture\/?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="profile" />
          </rule>
          <rule name="development" stopProcessing="true">
            <match url="^development\/?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="profile" />
          </rule>
          <rule name="consult" stopProcessing="true">
            <match url="^products\/consult(\/(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="consult" />
          </rule>
          <rule name="ares-services" stopProcessing="true">
            <match url="^services/ares-services" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="services" />
          </rule>
          <rule name="investor-financial" stopProcessing="true">
            <match url="^investor/(financial|finance)(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="investor-financial" />
          </rule>
          <rule name="investor-revenue" stopProcessing="true">
            <match url="^investor-revenue/(.*)" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="investor-revenue" />
          </rule>
          <rule name="investor-revenue2" stopProcessing="true">
            <match url="^investor/income/(.*)" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="investor-revenue" />
          </rule>
          <!-- products -->
          <rule name="aresbi" stopProcessing="true">
            <match url="^services/aresbi" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="products/analyzer/aresbi-kpitemplate/" />
          </rule>
          <rule name="argo" stopProcessing="true">
            <match url="^ArgoERP(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://argoerp.ares.com.tw/" />
          </rule>
          <rule name="argoerp" stopProcessing="true">
            <match url="^products\/(argoerp|nhms|gcrs|powerbudget)(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://argoerp.ares.com.tw/" />
          </rule>
          <rule name="ifrs" stopProcessing="true">
            <match url="^products\/ifrs(\/?(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://argoerp.ares.com.tw/trend/IFRS" />
          </rule>
          <rule name="plm" stopProcessing="true">
            <match url="^products\/plm(\/?(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://oracle.ares.com.tw/plm/" />
          </rule>
          <rule name="oracle" stopProcessing="true">
            <match url="^products\/(oracle|bpm)(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://oracle.ares.com.tw/" />
          </rule>
          <rule name="swift" stopProcessing="true">
            <match url="^products\/swift(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="products/eAresBank/" />
          </rule>
          <rule name="arespp" stopProcessing="true">
            <match url="^products\/ares-pp(\/(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://ares-pp.ares.com.tw/" />
          </rule>
          <rule name="lt" stopProcessing="true">
            <match url="^products\/lt(\/(.*)?|\/?)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="products/Local-Template/" />
          </rule>
          <rule name="ncsist" stopProcessing="true">
            <match url="^products\/\~ncsist(.*)?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="products/ncsist/{R:1}" />
          </rule>
          <rule name="upki" stopProcessing="true">
            <match url="^pki" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://pki.ares.com.tw/" />
          </rule>
        </rules>
      </rewrite>
      <httpErrors errorMode="Custom" defaultResponseMode="File">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
      </httpErrors>
      <!-- <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent> -->
      <caching>
        <profiles>
        <remove extension=".css" />
        <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
        <remove extension=".js" />
        <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
        <remove extension=".png" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" duration="24:00:00" />
        <remove extension=".php" />
        <add extension=".php" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:05" />
        </profiles>
      </caching>
  </system.webServer>
</location>
<location path="img">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
    </staticContent>
  </system.webServer>
</location>
<location path="lib">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
    </staticContent>
  </system.webServer>
</location>
<location path="css">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
    </staticContent>
  </system.webServer>
</location>
<location path="js">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
    </staticContent>
  </system.webServer>
</location>
</configuration>
