<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/best-practices/{R:1}" />
        </rule>
        <rule name="Redirect .php extension" stopProcessing="false">
          <match url="^(.*).php$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).php$" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="category" stopProcessing="true">
          <match url="^([0-9a-zA-z-]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
